<div>
  <form (ngSubmit)="generate()">
    <div *ngFor="let sentence of sentences" class="col-md-12">
      <div class="col-md-1"><img src="{{sentence.imageUrl}}" height="25px"></div>
      <label class="col-md-11">
        <input type="radio" name="options" [value]="sentence.id" [(ngModel)]="model.idSentence">
        {{sentence.generatedSentence}}
        <button (click)="play(sentence.generatedSentence)" type="button"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></button>
      </label>
    </div>
    <div class="col-md-12">
      <div class="col-md-3" [class.hidden]="subjectHide()">
        <label for="subject">Sujet</label>
        <input type="text" class="form-control" id="subject" [(ngModel)]="model.subject" name="subject">
      </div>
      <div class="col-md-3" [class.hidden]="verbHide()">
        <label for="verb">Verbe</label>
        <input type="text" class="form-control" id="verb" [(ngModel)]="model.verb" name="verb">
      </div>
      <div class="col-md-3" [class.hidden]="complementHide()">
        <label for="complement">Complément</label>
        <input type="text" class="form-control" id="complement" [(ngModel)]="model.complement" name="complement">
      </div>
      <div class="col-md-3" [class.hidden]="placeHide()">
        <label for="place">Lieu</label>
        <input type="text" class="form-control" id="place" [(ngModel)]="model.place" name="place">
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-2">
        <button type="submit" (click)="model.actionType=1">Poursuivre</button>
      </div>
      <div class="col-md-1">
        <button type="submit" (click)="model.actionType=3">Fin</button>
      </div>
    </div>
  </form>
</div>
